{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Collect Job Description{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="/" method="POST">
    <label for="text-input">Enter Job Description or URL:</label><br>
    <textarea id="text-input" name="input_text" rows="4" cols="50"></textarea><br>
    <button type="submit">Submit</button>
</form>

{% for job in jobs %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ job.title }} - {{job.id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ job.company }} - {{ job.location }} - {{job.date}}</h6>
        <p class="card-text">{{ job.description }}</p>
        <h6 class="card-subtitle mb-2 text-info">Summary</h6>
        <p class="card-text">{{ job.summary }}</p>
        <a href="{{ url_for('jobs.update_job', id=job.id) }}" class="btn btn-primary">Edit Job</a>
        <a href="{{ url_for('jobs.delete_job', id=job.id) }}" class="btn btn-primary">Delete Job</a>
    </div>


</div>
<br />
{% endfor %}

{% endblock %}