{% extends 'base.html' %}
{% block title%}{% endblock %}

{% block header %}
<h1>{% block title %}Jobs{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for job in jobs %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ job.title }} - {{job.id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ job.company }} - {{ job.location }} - {{job.date}}</h6>
        <p class="card-text">{{ job.description }}</p>
        <h6 class="card-subtitle mb-2 text-info">Summary</h6>
        <p class="card-text">{{ job.summary }}</p>
        <a href="{{ url_for('jobs.update_job', id=job.id) }}" class="btn btn-primary">Edit Job</a>
        <a href="{{ url_for('jobs.delete_job', id=job.id) }}" class="btn btn-primary">Delete Job</a>
    </div>


</div>
<br />
{% endfor %}

{% endblock %}